*
{
    font-family: 'Open Sans', sans-serif;
}

html
{
    scroll-behavior: smooth;
    background-color: #272727;
}

.mainPage
{
    position: static;
    width: 100%;
    height: 100%;
    left: 0.3%;
    background-color: #1f1f1f;
    border-radius: 10px;
}

.mainPage img
{
    position:sticky;
    width: 5%;
    height: 10%;
    top: 15%;
    padding: 30px;
    left: 35%;
    border-radius: 20px;
    background-color: rgb(22, 22, 22);
}

.mainPage #ig
{
    left: 10%;
}

.mainPage #twitter
{
    left: 32.5%;
}

.mainPage #twitch
{
    left: 55.5%;
}

.mainPage #discord
{
    left: 80%;
}

.mainPage label
{
    position: absolute;
    font-size: 18px;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.mainPage #lblIG
{
    top: 33%;
    left: 11.5%;
}

.mainPage #lblTwitter
{
    top: 33%;
    left: 34.5%;
}

.mainPage #lblTwitch
{
    top: 33%;
    left: 58%;
}

.mainPage #lblDiscord
{
    top: 33%;
    left: 82%;
}

.welcomeBar
{
    position: relative;
    width: 99.8%;
    height: 9%;
    top: -0.5%;
    border-radius: 10px;
    background-color: #333333;
}

.welcomeBar label
{
    position: sticky;
    font-size: 20px;
    padding: 10px;
    top: 0%;
    left: 45%;
    text-align: center;
    color: white;
}

.welcomeBar > #line2
{
    position: sticky;
    top: 45%;
    left: 38%;
}
